<link rel='ractive' href='./timeline.html' name='Timeline'>

{{#if referrer}}
	<p class='reminder'>*REMINDER: Before you launch (or re-launch) this page, please remember to publish the updated spreadsheet using the Visuals team's <a href='https://visuals.gutools.co.uk/docs/' target='_blank'>docs tool</a>. DON'T WORRY: "Publishing" the spreadhseet does not make it live anywhere on our site.</p>
{{/if}}

{{#if err}}
	<p>error! {{err.message || err}}</p>
{{/if}}
	<Timeline/>

<style>
.gia-title{
	font-size: 78px;
	font-family: 'Guardian Egyptian Web', Georgia, serif;
	font-weight: 700;
}
.reminder{
	font-size: 18px;
	padding: 15px 25px;
	background-color: #d61d00;
	color: #fff;
}
.reminder a{
	text-decoration: underline;
}
</style>


<script>
	component.exports = {

	};
</script>