<div class='image-main'>
	<div class='image-container' style='padding-bottom: {{padding}}%'>
		{{#if src}}
			<img intro='fade' src='{{src}}' />
		{{/if}}
	</div>

	<div class='image-credit'>Photograph: {{{image_credit}}}</div>
</div>

<style>
	.image-container {
		position: relative;
		background-color: #eee;
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
	}
</style>

<script>
	component.exports = {
		oninit () {
			var largeImage;

			const image_url = this.get( 'url' );
			const crop = /\?crop=\d+_\d+_(\d+)_(\d+)/.exec( image_url );

			const width = +crop[1];
			const height = +crop[2];

			const match = /https?:\/\/media\.gutools\.co\.uk\/images\/(.+?)\?crop=(.+)/.exec( image_url );
			const baseUrl = `//media.guim.co.uk/${match[1]}/${match[2]}`;

			this.set( 'padding', 100 * height / width );

			this.ready = {};

			this.observe( 'large', large => {
				const size = large ?
					Math.min( width, 1000 ) :
					500;

				const src = `${baseUrl}/${size}.jpg`;

				if ( this.ready[ src ] ) {
					this.set({ src });
				} else {
					const img = new window.Image();

					img.onload = () => {
						this.ready[ src ] = true;
						this.set({ src });
					};

					img.src = src;
				}
			});
		},

		transitions: {
			fade: require( 'ractive-transitions-fade' )
		}
	};
</script>